p {
    text-align: center;
}
/* h1 {
    text-align: center;
    text-decoration: wavy underline;
} 
 a {
    text-decoration: none;
 }
 #h1{
    font-weight: 100;
 }
 #h2 {
    font-weight: 250;
 } */
 #one {
    font-family: Arial;
 }
 #two {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }